<%- layout('layouts/boilerplate') %>
<h1>All Mofotos</h1>
<div>
  <a href="/mofotos/new">Add Mofoto</a>
</div>

<% for(let mofoto of mofotos ) { %>
<div class="card" mb-3>
  <div class="row">
    <div class="col-md-4">
      <% if(mofoto.images.length){ %>
      <img class="img-fluid" src="<%= mofoto.images[0].url %>" alt="" />
      <% }else {%>
      <img
        class="img-fluid"
        alt=""
        src="https://res.cloudinary.com/bonim/image/upload/v1648181550/Mofoto/k77ol7ehhm1dga98mnei.jpg"
      />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= mofoto.title %></h5>
        <p class="card-text"><%= mofoto.description %></p>
        <p class="card-text">
          <small class="text-muted"><%= mofoto.location %></small>
        </p>
        <a class="btn btn-primary" href="/mofotos/<%= mofoto._id %>"
          >View <%= mofoto.title %></a
        >
      </div>
    </div>
  </div>
</div>
<% } %>
